.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right,#27ae60,#20bf6b);
    text-align: center;
}

.header{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    height: 3.5rem;
}

.title {
    color: #296073;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.form_login{
    text-align: center;
    border: 1px solid #296073;
    padding: 5px;
    width: 35%;
    align-items: center;
    background-color: #ADC5CF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: center;
    width: 25rem;
}

.info-text{
    text-align: center;
    color: cadetblue;
    font-size: smaller;
    text-decoration: inactivecaptiontext;
}

.menu{
    border: 1px solid black;
    padding: 5px;
    width: 40%;
    background-color: #f0f0f0;
}

.info-message{
    background-color: limegreen;
    width: 20%;
    margin: 5px;
}


.error-message{
    background-color: red;
    width: 20%;
    margin: 5px;
}

.button{
    margin: 5px;
}

.input-style {
    overflow: visible;
    border-radius: 5px;
    border: solid 1px #296073;
    width: 100%;
    height: 2rem;
}

.align-line {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.btn-login {
    width: 8rem;
    border-radius: 5px;
    border: 1px solid #296073;
    margin-top: 10rem;
    background-color: #fff;
    border-color: #296073;
    cursor: pointer;
}

.label-form {
    color: #296073;
    font-weight: 400;
    margin-right: 1rem; 
}

.iptn-voucher {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #296073;
}